.page6-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem 5vw;
  background-color: black;
  color: white;
  position: relative;
  flex-wrap: wrap;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
}

.articles-left {
  flex: 1;
  min-width: 300px;
}

.articles-left h1 {
  font-size: 3rem;
  font-weight: 800;
}

.underline {
  border: 2px solid #f6f6f6;
  position:relative;
  top: 0;
}

.article-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin: 6em 0;
}

.article-button {
  background-color: #27a9ff;
  color: white;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 2rem;
  max-width: 90%;
  transition: background-color 0.2s ease;
  word-wrap: break-word;
  cursor: pointer;
  width: 50%;
}

.article-button:hover {
  background-color: #1c8de4;
}


.social-icons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  right: 5vw;
  top: 5rem;
}

.social-icons img {
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .page6-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .articles-left h1 {
    font-size: 2.2rem;
  }

  .article-button {
    font-size: 0.95rem;
    padding: 0.9rem 1.5rem;
    width: 60%;
  }
  .article-list{
    margin: 5em 0;
  }
}


.article-title {
  color: #ffffff;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.article-underline {
  height: 4px;
  width: 22rem;
  background-color:#3fbfff;
  margin-bottom: 2rem;
}
