.page5-container {
  background-color: black;
  color: white;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-family: 'Segoe UI', sans-serif;
}

.about-section {
  max-width: 70%;
}

.about-title {
  color: #ffffff;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.about-underline {
  height: 4px;
  width: 12rem;
  background-color:#3fbfff;
  margin-bottom: 2rem;
}

.about-text {
  font-size: 1.2rem;
  line-height: 1.8;
  font-style: italic;
}

.social-icons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
}

.icon {
  font-size: 1.8rem;
  background-color: white;
  color: black;
  border-radius: 50%;
  padding: 0.6rem;
  transition: transform 0.2s;
}

.icon:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .page5-container {
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
  }

  .about-section {
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-title {
    font-size: 3rem;
  }


  .social-icons {
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
    gap: 2rem;
  }
}
