.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  align-items: center;
  position: relative;
  z-index: 2;
  font-family: 'Segoe UI', sans-serif;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}
.logo img{
  width: 70px;
  vertical-align: middle;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-weight: 600;
  font-size: 1rem;
}

.nav-links li a{
  cursor: pointer;
  transition: color 0.2s;
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
}

.nav-links li a:hover {
  color: #00aaff;
}

.sidebar-mobile{
  display: flex;
  z-index: 10000;
}

.slideout {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #000000e0;
  padding: 1rem;
  height: 100vh;
  margin: 0;
  z-index: 10;
  justify-content: space-evenly;
  align-items: center;
}
.sidebar-button button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 15;
  position: fixed;
}
.slideout li {
  margin: 2rem 0;
  list-style: none;
}
.nav-links-mobile li a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.hidden {
  display: none;
}

.social-links-mobile{
  filter: invert(1);
}