.social-icons1 {
  position: fixed;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  z-index: 100;
}

.social-icons1 a{
  display: flex;
  padding: 0em;
  width: 2.5rem;
  justify-content: center;
  align-items: center;
}

.social-icons1 a img {
  width: 100%;
  filter: invert(1);
}

