main{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
/* hide scrollbar */
* {
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}